---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import AboutMe from '../components/AboutMe.astro';
import Skills from '../components/Skills.astro';
---

<Layout title="Welcome to Astro.">
	<Header />
	<main>
	<AboutMe/>
	<Skills/>
</main>
</Layout>

<style>
	main {
		scroll-behavior: smooth;
	}
</style>
