---
import BaseSection from "./BaseSection.astro";
import { Image } from "astro:assets";
import me from "../assets/img/me.png"
---
<BaseSection>
  <div class="content-wrapper">
    <div class="about">
      <h1>CRISTIAN<br/>SANTOS</h1>
      <p>I'm Cristian Santos, a frontend enthusiast with over three years of fullstack experience. Proficient in JavaScript and TypeScript, I thrive on turning ideas into code. Let's build something amazing together.</p>
    </div>
    <div class="logoWrapper">
      <Image src={me} alt="Cristian 8bits coding">
    </div>
  </div>
</BaseSection>

<style>
  .content-wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .about, .logoWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  .logoWrapper {
    align-items: flex-start;
  }
  h1 {
    color: white;
    /* font-family: 'Times New Roman', Times, serif; */
    font-size: 3rem;
    text-align: end;
  }
  p {
    max-width: 70%;
    text-align: end;
    color: white;
    font-size: 1.5em;
  }
</style>